@charset "utf-8";
/* CSS Document */




.upou_online_status{
    float: right;
    padding: 12px;
}
.upou_status_online {
    color: #138E77;
}
.upou_avatar{
    width: 28px;
    margin: 0 5px 5px 0;
}